//- - var infos = [{titreTemplateInfo:"Mon premier super film", imageArtclInfo:"images/amon.jpg"},{titreTemplateInfo:"Mon deuxième super film",imageArtclInfo:"images/viking.jpg"},{titreTemplateInfo: "Mon troisième super film",imageArtclInfo:"images/gunjan.jpg"}]
//- on commente cette ligne pcq qu on place la variable dans l'index.js contenu dans le fichier route