body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: black
  color: white

a
  color: white

// ul
//   display: flex
//   width: 1200
//   font-size: 20px
//   li
//     list-style: none
//     width: 100%

li.case_vide
  color: black

.artclBorder,.cateBorder
  border: solid 3px white

.artcl
  border: dashed 3px red

.grid-container
  display: grid
  grid-template-columns: auto

.subcontainerMenu
  display: flex
  font-size: 20px
  // display: grid
  // grid-template-columns: 6fr auto

.liMenu
  list-style: none
  width: 100%

.subcontainerMain
  display: flex
  width: 1200

.subcontainer
  font-size: 20px
  li
    list-style: none
    width: 100%
    text-align: center

    h1
      margin-top: 0px
      margin-bottom: 0px
      color: green

.logo
  width: 30%

.subcontainerMain
  display: grid
  grid-template-columns: 3fr 1fr

.allArticles, .sidebar
  border-collapse: separate
  border-spacing: 15px
